@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

h1{
    color: red;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Mochiy Pop One', sans-serif;

    width: 200px;
    height: 75px;
    background-color: greenyellow;
    border: solid 2px black;
    border-radius: 5px;

    display: none;
}