body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;    
}

a{
    font-size: 3.5rem;
    margin-top: 35px;
}

button{
    width: 400px;
    height: 45px;
    font-size: 1.5rem;
    cursor: pointer;
}